:root {
    --area-radius: 10px;
    --area-padding: 15px;
    --text-color-light:  #ECEFF1;
    --text-color-dark:  #000;;
}

body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: var(--text-color-dark);
    font-size: 9pt;
    background-color: #ECEFF1;
    text-align: center;

}

h1{
    font-size: 3rem;
}

@supports(display: grid) {
    .message {
      display: none;
    }
  }

  wrapper-g {
    margin: auto;
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "grid-area-1 grid-area-2 grid-area-3"
    "grid-area-4 grid-area-5 grid-area-6"
    "grid-area-7 grid-area-8 grid-area-9"
    ;
}

grid-area{
    box-shadow: #1a274199 0px 2px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    color: #000;
}

grid-area[order="1"] {
    grid-area: grid-area-1;
    background-color: #CFD8DC;
}
grid-area[order="2"] {
    grid-area: grid-area-2;
    background-color:#B0BEC5;
}
grid-area[order="3"] {
    grid-area: grid-area-3;
    background-color: #90A4AE;
}
grid-area[order="4"] {
    grid-area: grid-area-4;
    background-color: #78909C;
}
grid-area[order="5"] {
    grid-area: grid-area-5;
    background-color: #607D8B;
}
grid-area[order="6"] {
    grid-area: grid-area-6;
    background-color:#546E7A;
    color: var(--text-color-light);
}
grid-area[order="7"] {
    grid-area: grid-area-7;
    background-color: #455A64;
    color: var(--text-color-light);
}
grid-area[order="8"] {
    grid-area: grid-area-8;
    background-color:#37474F;
    color: var(--text-color-light);
}
grid-area[order="9"] {
    grid-area: grid-area-9;
    background-color: #263238;
    color: var(--text-color-light);
}

#mouse-char{
    width: 80%;
    height: 80%;
}

#arrow{
    width: 3px;
    height: 3px;
    background-color: red;
    position: fixed;
    left: 457.797px;
    stop: 209.906px;
}

